<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware5/shopware/5.6/engine/Shopware/Components/Plugin/schema/plugin.xsd">

    <label lang="de">Keine Preise ohne Login</label>
    <label lang="en">Hide prices if not logged in</label>
    <version>2.1.6</version>
    <copyright>(c) by Shopware AG</copyright>
    <license>proprietary</license>
    <link>http://store.shopware.com</link>
    <author>Shopware AG</author>
    <compatibility minVersion="5.6.0" maxVersion="5.99.99"/>

    <changelog version="2.1.6">
        <changes lang="de">
            PT-10290 - Handling der Kundengruppen verbessert;
            PT-12135 - Kompatibilität mit SwagBundle verbessert;
        </changes>
        <changes lang="en">
            PT-10290 - Improved handling of customer groups;
            PT-12135 - Improved compatibility with SwagBundle;
        </changes>
    </changelog>

    <changelog version="2.1.5">
        <changes lang="de">PT-12118 - Shopware 5.7 und PHP8 Kompatibilität;</changes>
        <changes lang="en">PT-12118 - Shopware 5.7 and PHP8 compatibility;</changes>
    </changelog>

    <changelog version="2.1.4">
        <changes lang="de">PT-11342 - Kompatibilität mit Google Structured Data verbessert;</changes>
        <changes lang="en">PT-11342 - Improved compatibility with Google Structured Data;</changes>
    </changelog>

    <changelog version="2.1.3">
        <changes lang="de">PT-11127 - Fehler während der Installation behoben;</changes>
        <changes lang="en">PT-11127 - Fix error during installation;</changes>
    </changelog>

    <changelog version="2.1.2">
        <changes lang="de">PT-7744 - Preis-Meta-Daten im HTML Quelltext werden nicht länger angezeigt;</changes>
        <changes lang="en">PT-7744 - Price meta data is no longer displayed in HTML source code;</changes>
    </changelog>

    <changelog version="2.1.1">
        <changes lang="de">PT-10942 - Cache-Verhalten optimiert;</changes>
        <changes lang="en">PT-10942 - Optimise cache behaviour;</changes>
    </changelog>

    <changelog version="2.1.0">
        <changes lang="de">PT-10434 - Shopware 5.6 Kompatibilität;</changes>
        <changes lang="en">PT-10434 - Shopware 5.6 compatibility;</changes>
    </changelog>

    <changelog version="2.0.0">
        <changes lang="de">PT-9558 - Shopware 5.5 Kompatibilität und Migration auf das Shopware 5.2 Plugin System;</changes>
        <changes lang="en">PT-9558 - Shopware 5.5 compatibility and migration to the Shopware 5.2 plugin system;</changes>
    </changelog>

    <changelog version="1.3.0">
        <changes lang="de">PT-8810 - Shopware 5.4 Kompatibilität;</changes>
        <changes lang="en">PT-8810 - Shopware 5.4 compatibility;</changes>
    </changelog>

    <changelog version="1.3.0">
        <changes lang="de">PT-8810 - Shopware 5.4 Kompatibilität;</changes>
        <changes lang="en">PT-8810 - Shopware 5.4 compatibility;</changes>
    </changelog>

    <changelog version="1.2.2">
        <changes lang="de">PT-8043 - Versteckt Staffelpreise; PT-8055 - Versteckt LiveShopping Preise;</changes>
        <changes lang="en">PT-8043 - Hide block prices; PT-8055 - Hide LiveShopping prices;</changes>
    </changelog>

    <changelog version="1.2.1">
        <changes lang="de">PT-7649 - Shopware 5.3 Kompatibilität;</changes>
        <changes lang="en">PT-7649 - Shopware 5.3 compatibility;</changes>
    </changelog>

    <changelog version="1.2.0">
        <changes lang="de">PT-5987 - Feature: Shopware 5.2 Kompatibilität;</changes>
        <changes lang="en">PT-5987 - Feature: Shopware 5.2 compatibility;</changes>
    </changelog>

    <changelog version="1.1.0">
        <changes lang="de">PT-2950 - Feature: Shopware 5 Kompatibilität;</changes>
        <changes lang="en">PT-2950 - Feature: Shopware 5 compatibility;</changes>
    </changelog>

    <changelog version="1.0.6">
        <changes lang="de">PT-2620, PT-2649 - Bugfix: Probleme mit dem Cache behoben;</changes>
        <changes lang="en">PT-2620, PT-2649 - Bugfix: Problems with caching;</changes>
    </changelog>

    <changelog version="1.0.5">
        <changes lang="de">HTTP Cache Support hinzugefügt</changes>
        <changes lang="en">Add support for HTTP cache</changes>
    </changelog>

    <description lang="de">Mit diesem Plugin können im Shop alle Preise ausgeblendet werden. Optional können diese aber auch auf Kundengruppen beschränkt werden. Somit ist es möglich, dass z.B. nur freigeschaltete Händler die Preise im Shop einsehen können. Auch die Bestellfunktion wird automatisch deaktiviert, wenn die Preise ausgeblendet sind.</description>
    <description lang="en">Use this plugin to hide prices globally or target different customer groups. This tool makes it possible to display prices for select customers who have logged-in. When prices are hidden, customers do not have the option to place an order.</description>
</plugin>
